<p><%= @user.name %>様</p>

<p>Deskographyをご利用いただきありがとうございます。</p>
<p>パスワード再発行のご依頼を受け付けました。</p>
<p>パスワードの再設定は以下のURLからお願いします。</p>
<p>このURLの有効期限は24時間です。</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>-------------------------------------------------------------------------------------------------------------------------------</p>

<p>このメールアドレスは送信専用ですので、お問い合わせはwebサイト内からお願いいたします</p>
