<div class="mx-auto md:w-2/3 w-full">
  <div class="container mx-auto">
		<div class="flex justify-center px-6 my-12">
			<div class="w-full xl:w-3/4 lg:w-11/12 flex">
				<%= image_tag 'Top12.jpg', class: "w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg" %>
					<div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
            <h3 class="pt-4 text-2xl text-center"><%= t ('.title') %></h3>
            <%= render 'form' %>
          </div>  
      </div>
    </div>    
  </div>    
</div>    
